.cartList {
	margin-top: 10px;

	.delete {
		position: absolute;
		right: 0;
		top: 0;
	}
	.item {
		display: flex;
		position: relative;
		margin-bottom: 15px;
		padding-bottom: 17px;

		border-bottom: 1px solid #e2e2e2;
	}

	.prewew {
		img {
			border-radius: 15px 15px 0 0;
			width: 100%;
			object-fit: contain;
		}
	}

	.information {
		margin-left: 5px;
		width: 100%;
	}

	.brand {
		font-size: 16px;
	}

	.subTitle {
		font-size: 13px;
		max-width: 150px;
	}

	.countAction {
		display: flex;
		align-items: center;
	}

	.count {
		display: block;
		margin: 0 15px;
	}

	.calculation {
		display: flex;
		font-size: 20px;
		font-weight: 500;
		margin-top: 15px;
		align-items: center;
		justify-content: space-between;
	}
	.prise {
	}

	@media (max-width: 383px) {
		.item {
			height: 120px;
		}

		.calculation {
			font-size: 17px;
		}
		.count {
			margin: 0 10px;
		}
		.button {
			width: 35px;

			img {
				width: 100%;
			}
		}
	}
}
