.filters {
	padding: 0 32px 65px 32px;

	.title {
		font-weight: 500;
		margin-top: 24px;
		line-height: 24px;
		font-size: 16px;
		margin-left: -12px;
	}

	.prise_title {
		margin-top: 20px;
		line-height: 24px;
	}
}

.is_width_discount {
	.radio {
		margin-bottom: 10px;
	}

	.radioСircle {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		cursor: pointer;

		border: 1px solid #000;
		width: 9px;
		height: 9px;
		border-radius: 50%;
		margin-right: 10px;

		&:checked {
			background-color: #000;
			border: none;
		}
	}
	.label {
		line-height: 24px;
		color: #1f2937;
		cursor: pointer;
	}
}

//color
.chooseColor {
	margin-left: -10px;

	.color {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;

		height: 25px;
		width: 25px;
		border: 1px solid #000;
		border-radius: 7px;
		position: relative;
		&:not(:last-child) {
			margin-right: 10px;
		}
		&:checked {
			border: 2px solid #000;
			&::after {
				content: '';
				position: absolute;
				display: block;
				margin: auto;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				width: 13px;
				height: 13px;
				background-image: url('../../assets/icons/checkMark.png');
				background-repeat: no-repeat;
			}
		}
	}
}
//Size
.chooseSize {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: -15px;

	.size {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 55px;
		height: 43px;
		margin-bottom: 15px;
		&:not(:last-child) {
			margin-right: 10px;
		}
	}
	.sizeSquare {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;

		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		border: 1px solid #d8d8dd;
		border-radius: 7px;
		cursor: pointer;
		&:checked {
			border: 2px solid #000;
		}
	}

	.label {
		display: block;
		text-transform: uppercase;
		font-size: 17px;
		color: #828282;
	}

	.inStock {
		color: #000;
	}
}
