.navigation {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 80;

	border-top: 1px solid rgba(#000, 0.5);
	background-color: #fff;

	.list {
		display: flex;
		justify-content: space-around;
		height: 50px;
		align-items: center;
	}

	.item {
		position: relative;
		width: 43px;
		height: 43px;
		display: flex;
		justify-content: center;
		align-items: center;
		&.active {
			&::after {
				content: '';
				width: 43px;
				height: 5px;
				border-radius: 0 0 5px 5px;
				position: absolute;
				left: 0;
				bottom: 0;
				background-color: #000;
			}
		}

		.numberOfItemsInTheCart {
			position: absolute;
			right: -1px;
			top: 3px;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 18px;
			height: 18px;
			border-radius: 50%;
			font-size: 14px;
			font-weight: 600;
			border: 1px solid #000;
			background-color: #fff;
			color: #000;
		}
	}
}

.navigation.dark {
	background-color: var(--tg-theme-bg-color);

	border-top: 1px solid #fff;
	.numberOfItemsInTheCart {
		border-color: #fff;
		background-color: #000;
		color: #fff;
	}

	.item {
		&.active {
			&::after {
				background-color: #fff;
			}
		}
	}
}
