@import './fonts.scss';

html {
	overflow: hidden;
}
.container {
	padding: 0 20px;
}

.AppInformation {
	// background-color: var(--tg-theme-bg-color);
	// background-color: #333;
	color: var(--tg-theme-text-color);
}

.AppInformation {
	overflow: auto;
	height: 100vh;
	scrollbar-width: thin;
	padding-bottom: 80px;
}

// body {
// 	background-color: #222;
// 	color: #fff;
// }

* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
	text-transform: inherit;
	font-size: inherit;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
	font-size: inherit;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

a,
button {
	text-decoration: none;
	color: inherit;
	background: none;
}

* {
	font-family: Montserrat;
	font-weight: 400;
}

li.slick-active button::before {
	opacity: 0.75;
	color: #fff;
}
