.poopUP {
	display: flex;
	position: fixed;
	background: rgba(255, 198, 0, 0.1);
	border-radius: 8px;
	padding: 8px 15px;
	bottom: 70px;
	z-index: 70;
	right: 15px;
	left: 15px;

	.icon {
	}
	.text {
	}
}
