.slider {
	background-color: #7a293a;
	border-radius: 15px;
	color: #fff;
	position: relative;
	margin-top: 10px;

	.slide {
		position: relative;
		display: block;
		padding: 11px 20px 0px 20px;
		height: 164px;
	}

	.arrowPrev {
		left: 0px;
		padding: 0 8px;
	}

	.arrowNext {
		right: 0;
		padding: 0 8px;
	}
	.arrow {
		position: absolute;
		display: flex;
		bottom: 0;
		top: 0;
		margin: auto;
		z-index: 10;

		img {
			width: 24px;
		}
	}

	.dots {
		position: absolute;
		bottom: 1px;
		left: 0;
		right: 0;
		li {
			height: auto;
		}
	}

	.dot {
		width: 8px;
		height: 8px;
		background-color: #fff;
		opacity: 0.2;
		border-radius: 50%;
		transition: opacity 0.5s;
	}

	.active {
		opacity: 1;
		transition: opacity 0.5s;
	}

	.slide_title {
		font-weight: 600;
		font-size: 28px;
		z-index: 40;
		line-height: 32px;
	}

	.slide_subtitle {
		max-width: 199px;
		z-index: 40;
		line-height: 16px;
		font-size: 12px;
		text-align: center;
		font-weight: 700;
	}

	.iamge {
		position: absolute;
		max-width: 221px;
		max-height: 138px;
		right: 0;
		top: 13px;
		z-index: -1;
		img {
			width: 100%;
			height: 100%;
		}
	}

	.list {
		height: 100%;
	}
}
